@model Services.Email.Models.ChangePasswordEmailModel
@{
    Layout = "~/Views/Shared/_LayoutEmail.cshtml";
}
<body style="width: 100vw; min-width: 700px;">
    <h1>@Model.Title</h1>
    <hr />
    <h3>@Model.Compliment <b>@Model.RecipientDisplayName</b>,</h3>
    <div style="display: flex; align-items: baseline; flex-direction: column; justify-content: space-around; padding: 20px; background-color: #efefef; color:#2e2e2e">
        <blockquote>@Html.Raw(Model.QuoteMessage)</blockquote>

        <p>This message is warning about your password to access our synapse platform was changed  to <b>@Html.DisplayFor(m => m.NewPassword)</b> at UTC : @DateTime.UtcNow.ToUniversalTime().</p>
        <p style='color: coral'>If your were not responsible for this, Think about review your security schema and change your e-mail account password for more security.</p>

        <p>
            Sua senha de acesso à plataforma Synapse foi alterada para <b>@Model.NewPassword</b> às: UTC @DateTime.UtcNow.ToUniversalTime()
        </p>
        <p style='color: coral'>
            Se você não foi o responsável por isso, considere rever suas informações e alterar sua senha para mais segurança.
        </p>

        <hr />

        <em>Agradecido.</em>
        <address>
            @Html.DisplayFor(m => m.WrittenBy)<br>
            Visit us at:<br>
            <a href="@Html.DisplayFor(m  => m.Site)" target="_blank">@Html.DisplayFor(m => m.Site)</a><br>
            @Html.DisplayFor(m => m.InstitutionName)<br>
            <small>@Html.DisplayFor(m => m.Address)</small><br />
            <small>@Html.DisplayFor(m => m.CEP), @Html.DisplayFor(m => m.City) - @Html.DisplayFor(m => m.County) - @Html.DisplayFor(m => m.Country)</small>
        </address>
    </div>
</body>
