@model Services.Email.Models.PasswordRecoveryEmailModel

@{
    Layout = "~/Views/Shared/_LayoutEmail.cshtml";
}

<body style="width: 100vw; min-width: 700px;">
    <h1>@Model.Title</h1>
    <hr />
    <h3>@Model.Compliment <b>@Model.RecipientDisplayName</b>,</h3>
    <div style="display: flex; align-items: baseline; flex-direction: column; justify-content: space-around; padding: 20px; background-color: #efefef; color:#2e2e2e;">
        <p>Parece que você esqueceu sua senha...</p>
        <p>Uma senha de recuperação, utilizando seu e-mail, foi requisitada em nossa plataforma.</p>
        <p>Para fazer isso, você pode acessar o link abaixo e criar sua nova senha.</p>
        <p>
            <a href="@Model.RecoveryLink" target="_blank" title="Link de recuperação de senha">Link para recuperar sua senha</a>
            Este link expira em: (UTC : @Model.ExpireDate.ToUniversalTime()).
        </p>
        @if (!string.IsNullOrEmpty(Model.QuoteMessage))
        {
            <blockquote>@Html.Raw(Model.QuoteMessage)</blockquote>
        }
        <hr />

        <em>Agradecido.</em>
        <address>
            @Html.DisplayFor(m => m.WrittenBy)<br>
            Visit us at:<br>
            <a href="@Html.DisplayFor(m  => m.Site)" target="_blank">@Html.DisplayFor(m => m.Site)</a><br>
            @Html.DisplayFor(m => m.InstitutionName)<br>
            <small>@Html.DisplayFor(m => m.Address)</small><br />
            <small>@Html.DisplayFor(m => m.CEP), @Html.DisplayFor(m => m.City) - @Html.DisplayFor(m => m.County) - @Html.DisplayFor(m => m.Country)</small>
        </address>
    </div>
</body>
